* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.list {
  font-size: 18px;
}

.list li {
  margin: 0 0 10px 0;
  position: relative;
  padding-left: 30px
}

.list li::before {
  content: '';
  background: url(/free-icon-check-mark-63144.png) 0 0 no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

